.footer {
    background-color: #1E1E1E;
    display: flex;
    color: #aaaaaa;
    flex-direction: column;
    padding: 2rem 7rem;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}

.footer__top {
    display: flex;
    flex-direction: column;
}

.footer__topLinks {
    padding-bottom: 1rem;
}

.footer__topLinksList {
    display: flex;
}

.footer__topLinksList > li > span {
    font-weight: 400;
}

.footer__topLinksList > li > span > a {
    color: #aaaaaa;
    font-weight: 500;
    font-size: .9rem;
    transition: all 200ms ease-in-out;
}

.footer__topLinksList > li > span > a:hover{
    color: #ffffff;
}

.footer__topLink {
    padding-left: .5rem;
}

.footer__topCopyright {
    padding-top: .3rem;
    margin-bottom: 3rem;
}

.footer__topCopyright > p {
    color: #7a7a7a;
    font-size: 13px;
    font-weight: 600;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottomLeft > ul {
    display: flex;
    align-items: center;
}

.footer__bottomLeft > ul > li {
    padding-right: 1.5rem;
}

.footer__bottomLeft > ul > li:last-child{
    padding-right: 0rem;

}

.footer__bottomRight > ul  {
    display: flex;
    align-items: center;
}

.footer__bottomRight > ul > li {
    padding-left: 1rem;
}

.footer__bottomRight > ul > li:first-child{
    padding-left: 0rem;

}

.footer__bottomLeftSocialIcon{
    object-fit: contain;
    width: 32px;
    height: 32px;
}

.footer__bottomRightStoreIcon {
    object-fit: contain;
    width: 135px;
    height: 40px;
}


@media only screen and (max-width: 940px){
    .footer {
        padding: 2rem 2rem;
    }
}

@media only screen and (max-width: 774px) {

    .footer__top{
        align-items: center;
    }
    
    .footer__topLinksList {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__bottomLeft > ul {
        margin-bottom: 1.54rem;
    }

    .footer__topCopyright {
        text-align: center;
    }

    .footer__bottomLeftSocialIcon{
        width: 25px;
        height: 25px;
    }
    
    .footer__bottomRightStoreIcon {
        width: 90px;
    }
}