
.seriesPage__title {
    background-color: #414141;
    color: white;
    padding: .8rem 7rem;
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.seriesPage__signleSeries {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem 6.5rem;
}

@media only screen and (max-width: 940px){
    .seriesPage__title {
        padding: .8rem 2rem;
    }
    .seriesPage__signleSeries {
        padding: 1rem 1.5rem;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 660px) {
    .seriesPage__title {
        text-align: center;
    }

    .seriesPage__signleSeries {
        grid-template-columns: repeat(3, 1fr);
    }
}