.navbar {
    background-image: linear-gradient(-5deg, #0068f9, #0194fe);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 7rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.51);
    z-index: 1;
    position: relative;
}

.navbar__logo {
    font-size: 2rem;
    font-weight: 600;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__links > li {
    margin-left: 2rem;
}

.navbar__links > li > a {
    font-weight: 600;
    letter-spacing: .1rem;
}

.navbar__login {
    transition: all 200ms ease-in-out;
}

.navbar__login:hover {
    color: #ccc;
}

.navbar__freeTrialBtn {
    background-color: #414141;
    padding: .5rem 1rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.navbar__freeTrialBtn:hover {
    background-color: #666;
}


@media only screen and (max-width: 950px){
    .navbar {
        padding: 01rem 2rem;
    }
}

@media only screen and (max-width: 660px) {
    .navbar {
        flex-direction: column;
        padding: 01rem 2rem;
    }
    .navbar__logo {
        padding-bottom: 1rem;
    }
}


@media only screen and (max-width: 332px){
    .navbar__logo {
        font-size: 1.6rem;
        font-weight: 600;
    }
}
