.homePage__title {
    background-color: #414141;
    color: white;
    padding: .8rem 7rem;
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.homePage__boxContainer {
    display: flex;
    padding: 2rem 7rem;
    color: white;
    min-height: 80vh;
}

.homePage__box,
.homePage__box2 {
    background: url('../../assets/bg-movie-icon.jpg') no-repeat center center/cover;
    height: 200px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}

.homePage__box > div,
.homePage__box2 > div {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.homePage__boxSubtitle {
    display: inline-block;
    color: black;
    padding-top: 0.6rem;
    font-size: 13px;
    font-weight: 500;
}


@media only screen and (max-width: 950px){
    .homePage__title {
        padding: .8rem 2rem;
    }
    .homePage__boxContainer {
        padding: 2rem 2rem;
    }
}

@media only screen and (max-width: 660px){
    .homePage__title {
        text-align: center;
    }

    .homePage__boxContainer {
        justify-content: center;
    }
}